/* My IT162 BIG Styles */
* {
    margin:0;
    padding:0;
}

html,body {
    background-color:#96d0c4;
    font-family: 'Bebas Neue', sans-serif;
}

main.wrapper {
    background-color:#fff;
    opacity: 0.8;
    overflow:auto;
    width: 960px;
	margin:auto;
    padding-bottom: 3%;
    border: 1px solid #009879;
}

img {
    margin-bottom: 7%;
    max-width: 100%;
}

img.flexbox-image-8,img.flexbox-image-9{
    margin-bottom: -70px;
}

img.flexbox-image-11 {
    margin-bottom: -138px;
}

section {
    width: 50%;
	float: left;
    padding-left: 6%;
}

div>img {
    margin-bottom: 40px;
    margin-left: 0.5%;
    max-width: 95%;
}

div.content-container {
    margin-bottom: 1%;
}

.second-column {
    width: 34%;
    float: right;
    padding: 2%;
    word-wrap: break-word;
    margin: 3%;
    margin-top: 7.2%;
}
aside {
    width: 26%;
    float: right;
    background-color: #ffede0;
    border: 1px solid #e4d199;
    border-radius: 20px;
    line-height: 1.45;
    padding: 2%;
    color: #24292e;
    word-wrap: break-word;
    margin: 3%;
    }

div.google-aside {
    width: 33%;
    float: right;
    background-color: #ffede0;
    border: 1px solid #e4d199;
    border-radius: 20px;
    line-height: 1.45;
    padding: 2%;
    padding-bottom: 3%;
    padding-top: 3%;
    color: #24292e;
    word-wrap: break-word;
    margin: 3%;
    margin-top: 10.5%;
}

aside>h3 {
    font-size: 21px;
    margin-right: 30px;
}

aside>p {
    margin-right: -10px;
    overflow-wrap: break-word;
}

.calendar>p {
    line-height:-0px;
}

a {
    color: inherit;
    text-decoration: none;
} 

a:hover {
    background-color:#baebe1;
    color: #f9fafa;
}

h1>a {
    text-decoration: none;
    color:#000;
    opacity: 1;
}

.logo {
    color:#48c9b0;
    margin-left:1%;
    text-shadow:1px 1px #ccc;
    font-size:1.25em;
}

h1{
    font-size: 32px;
}

h1, h2, h3, h4, h5, h6 {
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 20px;
}


h2.pageID {
    margin-top: 7%;
    font-size: 40px;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    line-height: 30px;
    padding-bottom: 30px;
}

p.video-caption {
    margin-top: 5%;
}
div.header-title {
    padding: 10px;
    font-family: 'Poiret One', cursive;
    font-size: 60px;
    text-shadow: 3px 5px 5px #333;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10%;
    color: #41bba3;
}

ul, ol {
    font-family: 'Montserrat', sans-serif;
    margin: 2em;
    font-weight: 200;
}

li {
    line-height: 30px;
}

code{
    padding-bottom: 30px;
    display: block;
}

pre {
    padding-bottom: 25px;
}

code, pre {
    font-size: 16px;
    background-color: #f6f8fa;
    border: 1px solid #d0d8d8;
    border-radius: 20px;
    line-height: 1.45;
    margin-bottom: 6%;
    padding: 6%;
    color: #24292e;
    white-space: pre-wrap;
    word-wrap: break-word;
}

address {
    font-style: normal;
}

form>div {
    margin-bottom: 1%;
}

footer {
    text-align: center;
    clear:both;
}

footer p {
    padding: 2em;
}
/* Embed Responsively Rules! */
div.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    margin: auto;
    max-width: 100%;
} 

div.embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*Hide agenda view of calendar */
div.embed-container.agenda-view {
    display: none;
}

/* START RESPONSIVE STYLES */

/* PHONE */
@media all and (max-width:375px) {
    /* Show Agenda View Calendar */
    div.embed-container.agenda-view {
        display:block;
    }
    
    /* Hide Month View Calendar */
    div.embed-container.month-view {
        display:none;
    }

    main.wrapper {
        width: 90%;
    }

    section {
        float: none;
        width: 85%;
        text-align: center;
      }
      aside,div.second-column,div.google-aside {
        float: none;
        width: 90%;
        text-align: center;
      }

      .research-aside {
          padding:5%;

      }
}

/*TABLET*/
@media all and (min-width:376px) and (max-width:859px) {
    main.wrapper {
        width: 80%;
	}
}
